asgiref
Deprecated~=1.2.14
diff-match-patch
Django
django-import-export~=4.1.1
djangorestframework
et-xmlfile~=1.1.0
googleapis-common-protos~=1.59.1
grpcio~=1.64.1
httplib2~=0.22.0
importlib_metadata~=7.1.0
openpyxl
opentelemetry-api~=1.25.0
opentelemetry-exporter-jaeger~=1.21.0
opentelemetry-exporter-jaeger-proto-grpc~=1.21.0
opentelemetry-exporter-jaeger-thrift~=1.21.0
opentelemetry-instrumentation~=0.46b0
opentelemetry-sdk~=1.25.0
opentelemetry-semantic-conventions~=0.46b0
protobuf~=4.25.3
pyparsing
six~=1.16.0
sqlparse
tablib~=3.5.0
thrift~=0.20.0
typing_extensions~=4.12.2
wrapt~=1.16.0
zipp~=3.19.2
pip~=22.2.1
Pillow~=8.4.0
Jinja2~=2.11.3
Django~=4.0.6
asgiref~=3.5.2
sqlparse~=0.4.2
psycopg2~=2.9.3
colorama~=0.4.5
PyYAML~=6.0
numpy~=1.23.0
requests~=2.25.1
tablib
pandas~=1.4.3
xlrd~=2.0.1
xlwt~=1.3.0
MarkupPy~=1.14
openpyxl~=3.0.7
six
certifi~=2020.12.5
urllib3~=1.26.3
idna~=2.10
chardet~=4.0.0
simplejson~=3.17.2
djangorestframework~=3.13.1
setuptools~=63.2.0
packaging~=21.3
pyparsing~=3.0.9
psutil~=5.9.1
coreapi~=2.3.3
uritemplate~=3.0.1
coreschema~=0.0.4
pytz~=2022.1
