asgiref==3.8.1
Deprecated==1.2.14
diff-match-patch==20230430
Django==4.2.14
django-import-export==4.1.1
djangorestframework==3.15.2
et-xmlfile==1.1.0
googleapis-common-protos==1.59.1
grpcio==1.64.1
httplib2==0.22.0
importlib_metadata==7.1.0
openpyxl==3.1.5
opentelemetry-api==1.25.0
opentelemetry-exporter-jaeger==1.21.0
opentelemetry-exporter-jaeger-proto-grpc==1.21.0
opentelemetry-exporter-jaeger-thrift==1.21.0
opentelemetry-instrumentation==0.46b0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
protobuf==4.25.3
pyparsing==3.1.2
six==1.16.0
sqlparse==0.5.0
tablib==3.5.0
thrift==0.20.0
typing_extensions==4.12.2
wrapt==1.16.0
zipp==3.19.2
